.navbar {
	background-color: #DCDCF0;
}

#logo {
	position: fixed;
	width: 180px;
	height: 70px;
	margin-right: 20px;
	right: 0;
	bottom: 40px;
}

#cruz {
	width: 80px;
}

.container {
	height: 800px;
}

.carousel {
	
}


#tit, #subtit{
	text-shadow: 0.04em 0.05em 0.01em black; 
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #5882FA;
	color: white;
	text-align: center;
}